@charset "utf-8";

@font-face {
    font-family: 'SatukitanSans';
    src: url('SatukitanSans.woff') format('woff');
}

html {
    font-size: 16px;
    width: 100%;
}

* {
    line-height: 1.5em;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #363A3E;
    background-color: #EEEDDA;
    font-size: 1rem;
}
    
h1 {
    background-color: #4E4B26;
    display: block;
    top: 0;
    color: #ffffff;
    font-size: 2rem;
    padding: 0.25rem 0.25rem;
}

h2 {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 2.5rem;
    background-color: #775539;
    color: #ffffff;
}
  
article > h3 {
    color: #4E4B26;
    border-bottom: 1px solid #775539;
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

h4 {
    color: #4E4B26;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

hr {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #DBD0C7;
}

div, p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

code {
    padding: 2px;
    border-radius: 2px;
    color: #363A3E;
    background-color: #d8d8d8;
}

div.table-wrap {
    border-width: 1px;
    border-color: #215F5C;
    border-style: solid;
}

table {
    border-collapse: separate;
    border-width: 0px;
    border-spacing: 0;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

table.sticky > thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

thead tr {
    background-color: #215F5C;
    color: #ffffff;
}

tbody tr {
    background-color: #ffffff;
    color: #363A3E;
}

tbody tr:nth-child(odd) {
    background-color: #EEF8F8;
}

th, td {
    padding: 0.2rem 0.5rem;
}

table.cell-alt tbody tr:nth-child(odd) td:nth-child(even),
table.cell-alt tbody tr:nth-child(even) td:nth-child(odd)
 {
    background-color: #ffffff;
}

table.cell-alt tbody tr:nth-child(odd) td:nth-child(odd),
table.cell-alt tbody tr:nth-child(even) td:nth-child(even)
 {
    background-color: #EEF8F8;
}

article {
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

textarea {
    padding: 4px;
    width: calc(100% - 8px);
}

.vs-table-container {
    overflow-x: auto;
}

.vs-table-container td, .vs-table-container th {
    text-wrap: nowrap;
}

.satu {
    font-family: 'SatukitanSans';
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;
}

.large {
    font-size: 2rem;
}

.thin {
    font-weight: normal;
}

input.satu-switch + * + * {
    font-family: 'SatukitanSans';
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;
}

input.satu-switch:checked + * + * {
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: wrap;
}

.red {
    color: #DF4121;
}

.blue {
    color: #217BDF;
}

.green {
    color: #339564;
}

.yellow {
    color: #C3B827;
}

span.trans {
    display: inline-block;
}

dl.trans {
    display: inline-block;
}

dl.trans + dl.trans {
    margin-left: 0.3rem;
}

dl.trans > dt {
    font-family: 'SatukitanSans';
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;

    border-bottom: solid #775539 1px;
    display: block;
    color: #000000;
    font-size: 1.5rem;
}

dl.trans > dt + dd {
    display: block;
    color: #775539;
    font-size: 0.8rem;
}

dl.trans > dt + dd + dd {
    display: block;
}
