@charset "utf-8";

html {
    font-size: 16px;
    width: 100%;
}

* {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #f3f3f9;
    font-size: 1rem;
}

header {
    background-color: #1A5135;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    color: white;
    font-size: 1rem;
    margin-right: auto;
    font-size: 1.25rem;
    padding: 0.25rem 0.25rem;
}

h2 {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 2.5rem;
    background-color: #287950;
    color: white;
}

article > h3 {
    color: #1A5135;
    border-bottom: 1px solid #287950;
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

nav.language-switcher {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav.language-switcher > label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287950;
    color: white;
    border: 1px solid #1A5135;
    margin: 0;
    padding: 0 0.5rem;
    vertical-align: central;
}

nav.language-switcher > label:has(input:checked) {
    background-color: #35A16B;
}

nav.language-switcher > label > input[type="radio"] {
    appearance: none;
    display: none;
}

div {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

code {
    padding: 2px;
    border-radius: 2px;
    color: #000000;
    background-color: #d8d8d8;
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-color: #203050;
    border-style: solid;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

thead tr {
    background-color: #203050;
    color: #ffffff;
}

tbody tr {
    background-color: #ffffff;
    color: #000000;
}

tbody tr:nth-child(odd) {
    background-color: #f0f4ff;
}

td {
    padding: 0.5rem;
}

article {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

ul {
    margin-left: 2rem;
}

a {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #287950;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #35A16B;
    color: white;
}

a:active {
    background-color: #FF9900;
    color: white;
}


summary {
    color: #1A5135;
    font-weight: bold;
    border-bottom: 1px solid #287950;
    padding-left: 0.5rem;
}

label {
    display: inline-block;
}

label + label {
        margin-left: 0.5rem;
}

textarea {
    padding: 4px;
    width: calc(100% - 8px);
}

/* arrangement */
.editor-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.editor-preview {
    flex: 1;
    background-color: white;
}

.editor-control {
    flex: 1;
}

@media (max-width: 767px) {
    .editor-container {
        flex-direction: column;
    }

    #preview_figure {
        margin: 0.5rem auto;
        max-height: 90vw;
    }

    .editor-preview {
        margin: 0;
        position: sticky;
        top: 2.5rem;
    }
}

@media (min-width: 768px) {
    .editor-container {
        flex-direction: row;
    }

    #preview_figure {
        position: sticky;
        top: 2.5rem;
        max-height: 80vh;
    }

    .editor-preview {
        margin: 0 auto;
        min-width: 500px;
        max-width: 80vh;
    }
}
