@charset "utf-8";

:root {
    /* ページ全体の後ろにある背景色 */
    --color-global-background: #EEEDDA;
    /* メイン色(暗・中・明) */
    --color-primary-dark: #4E4B26;
    --color-primary: #775539;
    --color-primary-light: #b67036;
    --color-primary-text: #FFFFFF;
    --color-primary-accent: #FF9900;
    /* 本文の色 */
    --color-article-background: #FFFFFF;
    --color-article-text: #363A3E;
    --color-code-background: #f1f1e8;

    /* テーブルの色 */
    --color-table-header-background: #215F5C;
    --color-table-header-text: #ffffff;
    --color-table-background: #ffffff;
    --color-table-background-alt: #EEF8F8;
}

span.trans {
    display: inline-block;
}

div.trans {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

div.trans dl, dl.trans {
    display: inline-block;
}

*:lang(kt) {
    font-family: 'SatukitanSans';
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;
}

.trans dt {
    border-bottom: solid 1px var(--color-primary);
    display: block;
    color: #000000;
    font-size: 1.5rem;
}

.trans dt + dd {
    display: block;
    color: var(--color-primary);
    font-size: 0.8rem;
}

.trans dt + dd + dd {
    display: block;
}

.verb {
    border: #DF4121 1px solid;
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.noun {
    border: #217BDF 1px solid;
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.modifier {
    border: #339564 1px solid;
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.conjunction {
    border: #E39D11 1px solid;
    border-radius: 0.1rem;
    padding: 0.1rem;
}
