@charset "utf-8";

:root {
    /* ページ全体の後ろにある背景色 */
    --color-global-background: #EEEDDA;
    /* メイン色(暗・中・明) */
    --color-primary-dark: #4E4B26;
    --color-primary: #775539;
    --color-primary-light: #b67036;
    --color-primary-text: #FFFFFF;
    --color-primary-accent: #FF9900;
    /* 本文の色 */
    --color-article-background: #FFFFFF;
    --color-article-text: #363A3E;
    --color-code-background: #f1f1e8;

    /* テーブルの色 */
    --color-table-header-background: #215F5C;
    --color-table-header-text: #ffffff;
    --color-table-background: #ffffff;
    --color-table-background-alt: #EEF8F8;
}

*:lang(kt) {
    font-family: 'SatukitanSans';
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;
}

body > nav {
    background-color: var(--color-primary-dark);
    padding: 1px;

    & a[href] {
        background-color: var(--color-primary-dark);
    }
}

.link-list.footer {
    justify-content: center;
}

span.trans {
    display: inline-block;
}

div.trans, .structure {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

div.trans dl, dl.trans {
    display: inline-block;
}

.trans dt {
    border-bottom: solid 1px var(--color-primary);
    display: block;
    color: #000000;
    font-size: 1.5rem;
}

.trans dt + dd {
    display: block;
    color: var(--color-primary);
    font-size: 0.8rem;
}

.trans dt + dd + dd {
    display: block;
}

.verb, .noun, .modifier, .conjunction, .clause {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 2px;
    padding: 0.25rem;
}

.verb {
    border-color: #DF4121;
    background-color: #ffe9e4;
}

.noun {
    border-color: #217BDF;
    background-color: #e7f2ff;
}

.modifier {
    border-color: #339564;
    background-color: #e3f1ea;
}

.conjunction {
    border-color: #E39D11;
    background-color: #fff7e7;
}

.clause {
    border-color: #808080;
    background-color: #F0F0F0;
}

dl.verb, dl.noun, dl.modifier, dl.conjunction, dl.clause {
    display: inline-block;
    padding: 0rem;
}

dl.verb > dt, dl.noun > dt, dl.modifier > dt, dl.conjunction > dt, dl.clause > dt {
    display: block;
    padding: 0.1rem 0.25rem;
    font-size: 0.8rem;
    color: #FFFFFF;
}

dl.verb > dt {
    background-color: #DF4121;
}

dl.noun > dt {
    background-color: #217BDF;
}

dl.modifier > dt {
    background-color: #339564;
}

dl.conjunction > dt {
    background-color: #E39D11;
}

dl.clause > dt {
    background-color: #808080;
}

dl.verb > dd, dl.noun > dd, dl.modifier > dd, dl.conjunction > dd, dl.clause > dd {
    padding: 0.25rem;
}
